template(name="partnerManagement")
  #content.modern.partner-management
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +partnerManagementOverviewSection currentPartner
            +partnerManagementPartnerHistorySection currentPartner
      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text")
          if creationMode
            .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createStockBtn
        .nano: .nano-content
          .group-wrapper
            each managedMyPartnerList
              .caption.myPartner.inner(class="{{activeClass}}")
                +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                span.text {{name}}

            if showUnSubmitPartnerList
              .caption.group chờ xác nhận liên kết
            each managedUnSubmitPartnerList
              .caption.inner(class="{{activeClass}}")
                +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                span.text {{name}}
                  .commands
                    span.icon-cancel-circled-4.unSubmitPartner
                    if showSubmitPartner
                      span.icon-ok-6.submitPartner

            if showUnDeletePartnerList
              .caption.group chờ xác nhận xóa
            each managedUnDeletePartnerList
              .caption.inner(class="{{activeClass}}")
                +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                span.text {{name}}
                  .commands
                    span.icon-cancel-circled-4.unDeletePartner
                    if showUnDeletePartner
                      span.icon-ok-6.deletePartner

            if showFilterSearch
              if showMerchantPartnerList
                .caption.group chưa liên kêt
              each managedMerchantPartnerList
                .caption.inner(class="{{activeClass}}")
                  +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                  span.text {{companyName}}
                    .commands
                      span.icon-loop-outline.addPartner
