template(name="partnerManagement")
  #content.modern.partner-management
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +partnerManagementOverviewSection currentPartner
            +partnerManagementPartnerHistorySection currentPartner
      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text")
          if creationMode
            .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createStockBtn
        .nano: .nano-content
          .group-wrapper
            if showMyPartnerList
              .caption.group đã liên kết
            each managedMyPartnerList
              .caption.inner(class="{{activeClass}}")
                +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                span.text {{name}}

            if showFilterSearch
              if showMerchantPartnerList
                .caption.group chưa liên kêt
              each managedMerchantPartnerList
                .caption.inner(class="{{activeClass}}")
                  +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                  span.text {{companyName}}
