template(name="returnManagement")
  //#header
    //.editor-row
      //.editor-wrapper(style="width: 180px; margin-right: 5px;")
      //  span.ilabel.optional nhân viên
      //  +iSelect(options=sellerSelectOptions class="field")
      //.editor-wrapper(style="width: 170px")
      //  span.ilabel.optional khách hàng
      //  +iSelect(options=customerSelectOptions class="field")

  #content.modern.sales-app
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            //+saleDetailSection saleDetails

      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm sản phẩm...")
        .nano: .nano-content
          .group-wrapper
            each allReturnProduct
              .caption.advanced.inner.product-selection(class="{{productSelectionActiveClass}}")
                +avatarImageComponent(avatar=avatarUrl alias=name)
                span.text
                  | <b>{{product.name}}</b>
                  if product.basicUnit
                    | ({{unitName}})
                  .commands
                    span.icon-right-open-big.addSaleDetail


  //#footer.modern
    //.editor-row.extra(name='advanced')
    //  .editor-wrapper(style="width: 200px; margin-right: 5px;")
    //    span.ilabel.optional nhân viên
    //    +iSelect(options=sellerSelectOptions class="field")
    //  .editor-wrapper(style="width: 120px")
    //    span.ilabel.optional thanh toán
    //    +iSelect(options=paymentMethodSelectOption class="field")

      //.editor-wrapper.right(style="width: 195px")
      //  span.ilabel.optional phương thức giảm giá
      //  +iSelect(options=billDiscountSelectOption class="field")
      //.editor-wrapper.right(style="width: 190px")
      //  span.ilabel.center.optional giảm giá
      //  +iSpinEdit(options=billCashDiscountOptions)
      //.editor-wrapper.right(style="width:110px")
      //  span.ilabel.center.optional giảm %
      //  +iSpinEdit(options=billPercentDiscountOptions)

    //.editor-row
      //.editor-wrapper(style="width: 100px")
      //  span.ilabel.optional thanh toán
      //  +iSelect(options=paymentMethodSelectOption class="field")
      //.editor-wrapper(style="width: 110px")
      //  span.ilabel.optional giao hàng
      //  +iSelect(options=paymentsDeliverySelectOption class="field")
      //.editor-wrapper(style="width: 170px")
      //  span.ilabel.center tiền nhận vào
      //  +iSpinEdit(options=depositOptions)

      //.editor-wrapper.pull-right
      //  button.lemon.btn.lime.pull-right.finish(class="{{allowSuccessOrder}}" type='submit' style="margin-right: 5px;") HOÀN TẤT
      //.editor-wrapper.pull-right
      //  button.lemon.btn.blue.pull-right.print-command(type='submit'): span.icon-print-6


    //+tabComponent(options=tabOptions)