template(name="returnManagement")
  #header
    .editor-row
      //.editor-wrapper(style="width: 180px; margin-right: 5px;")
      //  span.ilabel.optional nhân viên
      //  +iSelect(options=sellerSelectOptions class="field")
      //.editor-wrapper(style="width: 170px")
      //  span.ilabel.optional khách hàng
      //  +iSelect(options=customerSelectOptions class="field")


  #content.modern.sales-app
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +returnDetailSection currentReturn

      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm sản phẩm...")
        .nano: .nano-content
          .group-wrapper
            each allReturnProduct
              .caption.advanced.inner
                +avatarImageComponent(avatar=avatarUrl alias=name)
                span.text
                  | <b>{{product.name}}</b>
                  if product.basicUnit
                      | ({{unitName}})
                  .commands
                    span.icon-right-open-big.addReturnDetail
  #footer.modern
    .editor-row
      .editor-wrapper(style="width: 180px; margin-right: 5px;")
        span.ilabel.optional phương thức trả hàng
        +iSelect(options=returnSelectOptions class="field")

      if showCustomerSelect
        .editor-wrapper(style="width: 170px")
          span.ilabel.optional khách hàng
          +iSelect(options=customerSelectOptions class="field")
      else
        .editor-wrapper(style="width: 170px")
          span.ilabel.optional nhà cung cấp
          +iSelect(options=distributorSelectOptions class="field")



      .editor-wrapper.pull-right
        button.lemon.btn.lime.pull-right.submitReturn(class="{{allowSuccessOrder}}" type='submit' style="margin-right: 5px;") HOÀN TẤT



    +tabComponent(options=tabOptions)