template(name="import")
  //+addProduct(myCreateProduct=myCreateProduct order=currentOrder)
  //+addProvider(myCreateProvider=myCreateProvider order=currentOrder)
  //+addDistributor(myCreateDistributor=myCreateDistributor order=currentOrder)
  //#header
    //.caption-row
      //.title
      //  |Nhập Kho
      //.commands
        //if showHistory
        //  button.lemon.btn.amethyst.icon-history.importHistory(type='submit') LỊCH SỬ
        //button.lemon.btn.lime.icon-building.add-provider(type='submit') Thêm NCC
        //button.lemon.btn.lime.icon-building.add-distributor(type='submit') Thêm C.Ty PP
        //button.lemon.btn.lime.icon-tags-2.add-product(type='submit') Thêm Sản Phẩm
        //input(binding="switch" type="checkbox" name="advancedMode")

    //.editor-row
      //.editor-wrapper(style="width:250px")
      //  span.ilabel sản phẩm
      //  span.ilabel.optional.right: a(href="#"): i.add-product.icon-plus-6(data-toggle="tooltip" data-container="body" data-placement="top" title="Thêm sản phẩm")
      //  +iSelect(options=productSelectOptions class="field")
      //.editor-wrapper(style="width:180px")
      //  span.ilabel.optional nhà cung cấp
      //  span.ilabel.optional.right: a(href="#"): i.add-provider.icon-plus-6(data-toggle="tooltip" data-container="body" data-placement="top" title="Thêm nhà cung cấp")
      //  +iSelect(options=providerSelectOptions class="field")
      //.editor-wrapper(style="width:120px")
      //  span.ilabel.center số lượng
      //  +iSpinEdit(options=qualityOptions class="field")
      //.editor-wrapper(style="width:150px")
      //  span.ilabel.center giá nhập
      //  +iSpinEdit(options=importPriceOptions class="field")
      //if hidePriceSale
      //  .editor-wrapper(style="width:150px")
      //    span.ilabel.center giá bán
      //    +iSpinEdit(options=salePriceOptions class="field")
      //if showCreateDetail
      //  .editor-wrapper(style="width:100px")
      //    button.lemon.btn.lime.icon-plus-circled.addImportDetail(type='submit' style="{{showCreateDetail}}") THÊM
      //.editor-wrapper.right
      //  input.hidden.excelFileSource(type="file")
      //  button.lemon.btn.blue.right.excel-import(type='submit' data-toggle="tooltip" data-container="body" data-placement="top" title="Nhập tự động")
      //    span.icon-inbox-1
      //.editor-wrapper.right
      //  a.lemon.btn.blue(href="/template/nhap_kho.csv" target="_blank" data-toggle="tooltip" data-container="body" data-palace-holder="top" title="Tải về file Mẫu")
      //    span.icon-doc-text-inv-1

    //.editor-row.extra(name='advanced' style="display: none;")
      //.editor-wrapper(style="width: 120px")
      //  span.ilabel.optional ngày sản xuất
      //  input(name="productionDate" binding="datePicker" todayHighlight="true")
      //.editor-wrapper(style="width: 120px")
      //  span.ilabel.optional hạn sử dụng
      //  +iSelect(options=timeUseSelectOptions class="field")
      //.editor-wrapper(style="width: 120px")
      //  span.ilabel.optional ngày hết hạn
      //  input(binding="datePicker" todayHighlight="true" name="expire")
  #content.modern
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            //if showEditImportCurrentProduct
            //  +importCurrentProductOverviewSection importCurrentProduct
            +importDetailSection importDetails

      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm sản phẩm...")
          if creationMode
            .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createProductBtn
        .nano: .nano-content
          if showFilterSearch
            .group-wrapper
              each managedImportProductList
                .caption.inner.product-selection(class="{{productSelectionActiveClass}}")
                  +avatarImageComponent(avatar=avatarUrl alias=name)
                  span.text
                    |{{product.name}}
                    if product.basicUnit
                      |({{unitName}})
                    if showAddDetail
                      .commands
                        if showEditProductCommand
                          span.icon-edit.enableEditProduct
                        span.icon-right-open-big.addImportDetail

          else
            each managedImportProductList
              .group-wrapper
                .caption.group {{key}}
                each childs
                  .caption.inner.product-selection(class="{{productSelectionActiveClass}}")
                    +avatarImageComponent(avatar=avatarUrl alias=name)
                    span.text
                      |{{product.name}}
                      if product.basicUnit
                        |({{unitName}})
                      if showAddDetail
                        .commands
                          if showEditProductCommand
                            span.icon-edit.enableEditProduct
                          span.icon-right-open-big.addImportDetail





  #footer.modern
    .editor-row
      .editor-wrapper.dual-spacer
      .editor-wrapper(style="width:180px")
        span.ilabel.optional công ty cung cấp
        +iSelect(options=distributorSelectOptions class="field")

      //if showSubmit
      .editor-wrapper.right
        button.flat.btn.blue.icon-ok-6.submitImport(type='submit') XÁC NHẬN
      //if showEdit
      .editor-wrapper.right
        button.flat.btn.carrot.icon-pencil-circled.editImport(type='submit') CHỈNH SỬA
      //if showFinish
      .editor-wrapper.right
        button.flat.btn.lime.icon-award.finishImport(type='submit') HOÀN TẤT
      .editor-wrapper.right
        button.flat.btn.blue.print-command(type='submit'): span.icon-print-6
      .editor-wrapper.right(style="width: 160px; padding-right: 20px")
        span.ilabel.center tiền nhận vào
        +iSpinEdit(options=depositOptions)

      //.editor-wrapper.right(style="width: 120px")
      //  span.ilabel.optional tiền còn nợ
      //  input.debit(name='debitCash' disabled)
      //.editor-wrapper.right(style="width: 120px")
      //  span.ilabel.optional tổng tiền
      //  input.totalPrice(style="text-align: center" value="{{currentImport.totalPrice}}" disabled)
      //.editor-wrapper.right(style="width:180px")
        //span.ilabel.optional công ty phân phối
        //span.ilabel.optional.right: a(href="#"): i.add-distributor.icon-plus-6(data-toggle="tooltip" data-container="body" data-placement="top" title="Thêm nhà phân phối")
        //+iSelect(options=distributorSelectOptions class="field")
      //.editor-wrapper.right(style="width: 300px")
        //span.ilabel description
        //input.description(value="{{currentImport.description}}")

    +tabComponent(options=tabOptions)
