template(name="importReview")
  +importReviewDetail(import=currentImport importDetails=currentImportDetail)
  #header
    .caption-row
      .title Lịch Sử Nhập Kho
      .switches
        input(binding="switch" type="checkbox" name="advancedMode")
    .editor-row.extra(name='advanced')
      //.editor-wrapper(style="width: 200px")
      //  span.ilabel chi nhánh
      //  +iSelect(options=merchantSelectOptions class="field")
      //.editor-wrapper(style="width: 200px")
      //  span.ilabel kho
      //  +iSelect(options=warehouseSelectOptions class="field")

  #content
    +iGrid(options=gridOptions)
