template(name="transactionManager")
  +transactionManagerDetail(transaction=currentTransaction transactionDetail=currentTransactionDetail)
  #header
    .caption-row
      .title QUẢN LÝ CÔNG NỢ

    .editor-row
      if unSecureMode
        .editor-wrapper(style="width: 200px")
          span.ilabel khách hàng
          +iSelect(options=customerSelectOptions class="field")
       .editor-wrapper(style="width:150px")
          span.ilabel tiền nợ
          +iSpinEdit(options=debitCashOptions  class="field")
        .editor-wrapper
          button.btn.btn-success.createTransaction(type='submit') THÊM CÔNG NỢ


  #content
    +iGrid(options=gridOptions)

  #footer.gray
    ul.step-filter
      li(class="{{activeReceivable '0'}}" data-receivable="0" data-toggle='tooltip' title="PHẢI THU"): span.icon-money
      li(class="{{activeReceivable '1'}}" data-receivable="1" data-toggle='tooltip' title="PHẢI TRẢ"): span.icon-emo-cry
      li.split
      li(class="{{activeTransactionFilter '1'}}" data-filter="1" data-toggle='tooltip' title="NỢ"): span.icon-feather-1
      li(class="{{activeTransactionFilter '2'}}" data-filter="2" data-toggle='tooltip' title="QUÁ HẠN"): span.icon-cancel-7
      li(class="{{activeTransactionFilter '3'}}" data-filter="3" data-toggle='tooltip' title="ĐÃ KẾT THÚC"): span.icon-ok-6