template(name="productManagement")
  //#header
  //  .caption-row
  //    .title DANH SÁCH SẢN PHẨM
          
  #content.modern.product-management
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +productManagementOverviewSection currentProduct
            +productManagementSalesHistorySection currentProduct
      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text")
          if creationMode
            .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createStockBtn
        .nano: .nano-content
          if showFilterSearch
            .group-wrapper
              if showBranchProductList
                .caption.group chi nhánh
              each managedBranchProductList
                .caption.inner(class="{{activeClass}}")
                  +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                  span.text
                    |{{name}}
                    if basicUnit
                      |({{basicUnit}})
                    if showDeleteBranchProduct
                      .commands
                        span.icon-cancel-circled-4.deleteBranchProduct

              if showMerchantProductList
                .caption.group công ty
              each managedMerchantProductList
                .caption.inner(class="{{activeClass}}")
                  +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                  span.text
                    |{{name}}
                    if basicUnit
                      |({{basicUnit}})
                    .commands
                      if showDeleteMerchantProduct
                        span.icon-cancel-circled-4.deleteMerchantProduct
                      span.icon-loop-outline.addBranchProduct

              if showGeraProductList
                .caption.group gera
              each managedGeraProductList
                .caption.inner(class="{{activeClass}}")
                  +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                  span.text
                    |{{name}}
                    if basicUnit
                        |({{basicUnit}})
                    .commands
                      span.icon-download-outline.addMerchantAndBranchProduct
          else
            each managedBranchProductList
              .group-wrapper
                .caption.group {{key}}
                each childs
                  .caption.inner(class="{{activeClass}}")
                    +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                    span.text
                      |{{name}}
                      if basicUnit
                        |({{basicUnit}})
