template(name="merchantHome")
  .metro: .metro-wrapper
    .tile-group-1
      .tile.wisteria(class="{{metroUnLocker Summary.data.staffCount}}"
      data-app='roleManager')
        span.center.middle.caption: span.table: i.ico.icon-user-add-1
        span.bottom.middle.caption PHÂN QUYỀN
      .tile.carrot(class="{{metroUnLocker Summary.data.staffCount}}"
      data-app='staffManager')
        span.s7.top.middle.caption TÀI KHOẢN
        span.center.middle.caption: span.table: i.ico.icon-group
        span.bottom.middle.caption {{formatNumber Summary.data.staffCountAll}}<br />NHÂN SỰ
      .tile.amethyst(class="{{metroUnLocker Summary.data.staffCount}}" data-app='transactionManager')
        span.s7.top.middle.caption PHẢI THU <br/> {{formatNumber Summary.data.saleDebitCash}}
        span.center.middle.caption: span.table: i.ico.icon-money
        span.bottom.middle.caption CÔNG NỢ
      .tile.orange(class="{{metroUnLocker Summary.data.importCount}}"
      data-app='accountingManager')
        span.top.right.caption: i.ico.small.icon-ok-6
        span.center.middle.caption: span.table: i.ico.icon-money
        span.bottom.middle.caption <span class="s7">XÁC NHẬN</span><br /> THU TIỀN

    .tile-group-3
      .tile.quatro.lime(class="{{metroUnLocker Summary.data.staffCount}}" data-app='customerManagement')
        span.top.middle.caption {{formatNumber Summary.data.customerCountAll}} KHÁCH HÀNG
        span.center.middle.caption: span.table: i.ico.huge.icon-heart-8
      //.tile.quatro.lime#saleManager(class="{{metroUnLocker Summary.data.importCount}}{{metroUnLocker Summary.data.customerCountAll}}{{metroUnLocker Summary.data.staffCountAll}}"
      //data-app='sales')
      //  span.top.right.caption BÁN HÀNG
      //  span.center.middle.caption: span.table: i.ico.huge.icon-basket-3
      //  span.bottom.left.caption: h3 {{formatNumber Summary.data.saleProductCount}} <tiny5>SẢN PHẨM ĐÃ BÁN</tiny5>
      .tile.teal(class="{{metroUnLocker Summary.data.saleCount}}"
      data-app='billManager')
        span.center.middle.caption: span.table: i.ico.icon-clipboard-2
        span.bottom.middle.caption {{formatNumber Summary.data.saleCount}} ĐƠN HÀNG
      .tile.amethyst(class="{{metroUnLocker Summary.data.deliveryCount}}"
      data-app='deliveryManager')
        span.center.middle.caption: span.table: i.ico.icon-truck-1
        span.bottom.middle.caption {{formatNumber Summary.data.deliveryCount}} GIAO HÀNG
      .tile.double.dark-blue#saleManager(class="{{metroUnLocker Summary.data.importCount}}{{metroUnLocker Summary.data.customerCountAll}}{{metroUnLocker Summary.data.staffCountAll}}" data-app='sales')
        span.top.left.caption: h3 {{formatNumber Summary.data.saleProductCount}} <tiny5>SẢN PHẨM ĐÃ BÁN</tiny5>
        span.center.left.caption: span.table: i.ico.huge.icon-basket-3
        span.bottom.left.caption BÁN HÀNG
      .tile.alizarin(class="{{metroUnLocker Summary.data.saleCount}}"
      data-app='returns' )
        span.center.middle.caption: span.table: i.ico.icon-reply-all-1
        span.bottom.middle.caption  {{formatNumber Summary.data.returnCount}} TRẢ HÀNG
      .tile.green-sea(class="{{metroUnLocker Summary.data.importCount}}"
      data-app='exportAndImportManager')
        span.top.right.caption: i.ico.small.icon-ok-6
        span.center.middle.caption: span.table: i.ico.icon-shareable
        span.bottom.middle.caption <span class="s7">XÁC NHẬN</span><br /> XUẤT NHẬP KHO
      .tile.peter-river(class="{{metroUnLocker Summary.data.saleCount}}"
      data-app='salesReport')
        span.s7.top.middle.caption DOANH THU HÔM NAY <br/> {{formatNumber Summary.data.depositDay}}
        span.center.middle.caption: span.table: i.ico.icon-chart-bar-4
        span.bottom.middle.caption BÁO CÁO
      .tile.belize-hole(data-app='productManagement')
        span.center.middle.caption: span.table: i.ico.icon-cubes
        span.bottom.middle.caption SẢN PHẨM

    .tile-group-3
      .tile.carrot.quatro(data-app='distributorManagement')
        span.top.middle.caption NHÀ CUNG CẤP
        span.center.middle.caption: span.table: i.ico.huge.icon-building
      .tile.sun-flower(class="{{metroUnLocker Summary.data.importCount}}"
      data-app='stockManager')
        span.s7.top.middle.caption ĐIỀU CHỈNH GIÁ BÁN
        span.center.middle.caption: span.table: i.ico.icon-align-justify-1
        span.bottom.middle.caption TỒN KHO
      //.tile.double.peter-river(class="{{metroUnLocker Summary.data.saleCount}}"
      //data-app='salesReport')
      //  span.top.right.caption: h3 {{formatNumber Summary.data.depositDay}} <tiny5>DOANH THU</tiny5>
      //  span.center.left.caption: span.table
      //    i.ico.large.icon-chart-bar-4
      //  span.bottom.left.caption BÁO CÁO
      .tile.alizarin(class="{{metroUnLocker Summary.data.saleCount}}"
      data-app='export')
        span.center.middle.caption: span.table
          i.ico.icon-shuffle-4
        span.bottom.middle.caption CHUYỂN KHO
      .tile.green-sea.double(class="{{metroUnLocker Summary.data.warehouseCount}}"
      data-app='importHistory')
        span.center.left.caption: span.table: i.ico.icon-inbox-1
        span.bottom.left.caption {{formatNumber Summary.data.importCount}} NHẬP KHO
        span.top.left.caption
          h3 <tiny5>TỔNG NHẬP {{Summary.data.importProductCount}}</tiny5>
        span.bottom.right.caption
          h3 {{Summary.data.stockProductCount}}<br /> <tiny5>TỒN KHO</tiny5>
      .tile.dark(class="{{metroUnLocker Summary.data.importCount}}"
      data-app='inventoryHistory')
        span.center.middle.caption: span.table: i.ico.icon-edit-alt
        span.bottom.middle.caption {{formatNumber Summary.data.inventoryCount}}<br />KIỂM KHO
      .tile.lime(class="{{metroUnLocker Summary.data.warehouseCount}}"
      data-app='warehouseManager')
        span.center.middle.caption: span.table
          i.ico.icon-home-4
        span.bottom.middle.caption {{formatNumber Summary.data.warehouseCount}}<br />KHO HÀNG
      .tile.belize-hole(class="{{metroUnLocker Summary.data.merchantCount}}"
      data-app='branchManager')
        span.center.middle.caption: span.table
          i.ico.icon-home-6
          i.ico.small.icon-home-6
        span.bottom.middle.caption {{formatNumber Summary.data.merchantCount}}<br />CHI NHÁNH
      .tile.belize-hole(class="{{metroUnLocker Summary.data.merchantCount}}")
        span.center.middle.caption: span.table: i.ico.icon-book
        span.bottom.middle.caption NHẬT KÝ
