template(name="import")
  +addProduct(myCreateProduct=myCreateProduct order=currentOrder)
  +addProvider(myCreateProvider=myCreateProvider order=currentOrder)
  #header
    .caption-row
      .title Nhập Kho
      .commands
        button.btn.btn-default.pull-right.icon-print-6.add-product(type='submit') Thêm Sản Phẩm
        button.btn.btn-default.pull-right.icon-print-6.add-provider(type='submit') Thêm NPP
      .switches
        input(binding="switch" type="checkbox" name="advancedMode")

    .editor-row
      .editor-wrapper(style="width:250px")
        span.ilabel sản phẩm
        +iSelect(options=productSelectOptions class="field")
      .editor-wrapper(style="width:180px")
        span.ilabel.optional nhà phân phối
        +iSelect(options=providerSelectOptions class="field")
      .editor-wrapper(style="width:120px")
        span.ilabel.center số lượng
        +iSpinEdit(options=qualityOptions class="field")
      .editor-wrapper(style="width:150px")
        span.ilabel.center giá nhập
        +iSpinEdit(options=importPriceOptions class="field")
      .editor-wrapper(style="width:150px; {{hidePrice}}")
        span.ilabel.center giá bán
        +iSpinEdit(options=salePriceOptions class="field")

      .editor-wrapper(style="width:100px")
        button.btn.btn-default.addImportDetail(type='submit' style="{{hideAddDetail}}") Add

    .editor-row.extra(name='advanced' style="display: none;")
      .editor-wrapper(style="width: 120px")
        span.ilabel.optional ngày sản xuất
        input(name="productionDate" binding="datePicker" todayHighlight="true")
      .editor-wrapper(style="width: 120px")
        span.ilabel.optional hạng dùng
        +iSelect(options=timeUseSelectOptions class="field")
      //.editor-wrapper(style="width: 120px")
      //  span.ilabel.optional ngày hết hạn
      //  input(binding="datePicker" todayHighlight="true" name="expire")

  #content
    +iGrid(options=importDetailOptions)

  #footer
    .editor-row
      //.editor-wrapper.right(style="width: 100px; {{hideSubmitImport}}")
      .editor-wrapper.right(style="width: 100px")
        button.btn.btn-default.right.submitImport(type='submit' style="margin-right: 5px;") XÁC NHẬN CHỜ DUYỆT
      //.editor-wrapper.right(style="width: 200px; {{hideFinishImport}}")
      .editor-wrapper.right(style="width: 200px")
        button.btn.btn-default.right.finishImport(type='submit' style="margin-right: 5px;") ĐÃ DUYỆT
      //.editor-wrapper.right(style="width: 120px; {{hideEditImport}}")
      .editor-wrapper.right(style="width: 120px")
        button.btn.btn-default.right.editImport(type='submit' style="margin-right: 5px;") CHỈNH SỬA
      .editor-wrapper.right(style="width: 120px")
        span.ilabel.optional tiền còn nợ
        input.debit(value="{{currentImport.debit}}" disabled)
      .editor-wrapper.right(style="width: 120px")
        span.ilabel.optional tiền đã trả
        input.deposit(value="{{currentImport.deposit}}")
      .editor-wrapper.right(style="width: 120px")
        span.ilabel.optional tổng tiền
        input.totalPrice(value="{{currentImport.totalPrice}}" disabled)
      .editor-wrapper.right(style="width: 300px")
        span.ilabel description
        input.description(value="{{currentImport.description}}" )
      .editor-wrapper.right(style="width: 180px")
        span.ilabel.optional người tạo
        input.emailCreator(value="{{creatorName}}" disabled)

    +tabComponent(options=tabOptions)