template(name="geraProductGroup")
  #content.modern.product-management
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +geraProductGroupOverviewSection currentProductGroup
      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text")
          if creationMode
            .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createStockBtn
        .nano: .nano-content
          if showFilterSearch
            .group-wrapper
              each managedProductGroupList
                .caption.inner(class="{{activeClass}}")
                  +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                  span.text
                    |{{name}}
                    if basicUnit
                      |({{basicUnit}})
          else
            each managedProductGroupList
              .group-wrapper
                .caption.group {{key}}
                each childs
                  .caption.inner(class="{{activeClass}}")
                    +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                    span.text
                      |{{name}}
                      if basicUnit
                        |({{basicUnit}})
